{%- macro prop_table_header() %}
<thead>
  <tr>
    <th></th>
    <td>Base</td>
    <td>Free</td>
    <td>Xp</td>
    <td>Total</td>
  </tr>
</thead>
{%- endmacro -%}

{%- macro prop_table(name, start, min, max, nameable) %}
<tr>
  {%- if nameable %}
  <th><input class="prop_name" name="attr_{{ name }}_name" title="{{ name|title }} name" value="" type="text" /></th>
  {%- else %}
  <th>{{name|title}}</th>
  {%- endif %}
  <td><input class="prop_val" name="attr_{{ name }}_base" value="{{start}}" title="{{ name|title }} base" min="{{min}}" max="{{max}}" type="number" /></td>
  <td><input class="prop_val" name="attr_{{ name }}_free" value="0" title="{{ name|title }} freebie" min="{{min}}" max="{{max}}" type="number" /></td>
  <td><input class="prop_val" name="attr_{{ name }}_xp" value="0" title="{{ name|title }} xp" min="{{min}}" max="{{max}}" type="number" /></td>
  <td>
    <input class="prop_result" name="attr_{{ name }}" value="0" type="hidden" />
    <input class="prop_result" name="attr_{{ name }}_disp" value="@{{'{'}}{{ name }}{{'}'}}" type="number" title="{{ name|title }} total" disabled="true" />
  </td>
</tr>
{%- endmacro %}

{%- macro prop_radio(name, val, min, max, nameable) -%}
<tr>
  {%- if(nameable) %}
  <th><input class="prop_val" name="attr_{{ name }}_name" value="" title="{{ name|title }} name" type="text" /></th>
  {%- else %}
  <th>{{name|title}}</th>
  {%- endif %}
  {%- for i in range(min, max+1) %}
  <td><input class="prop_val" name="attr_{{ name }}_radio" value="{{ i }}" title="{{ name|title }} total" type="radio" {% if (i==val) %}checked{% endif %}/></td>
  {%- endfor %}
</tr>
{%- endmacro %}

{%- macro prop_multi_table(type, data) %}
<div class="sheet-divcol">
  <h3 style="display: inline-block;">{{type|title}}</h3>
  <input title="details" name="attr_{{ type }}_switch" style="width: 1em;float: right;" type="checkbox" class="sheet-block-switch">
  <br />
  <div class="sheet-block-a">
    <table summary="{{type}} basic table">
      <thead>
        <tr>
          <td></td>
          {%- for i in range(data.val_min, data.val_max+1) %}
          <td>{{ i }}</td>
          {%- endfor %}
        </tr>
      </thead>
      {%- for name in data.fields %}
      {{ prop_radio(name, data.val_start, data.val_min, data.val_max, data.nameable)|indent(6) }}
      {%- endfor %}
    </table>
  </div>
  <div class="sheet-block-b">
    <table summary="{{type}} detail table">
      {{- prop_table_header()|indent(8) -}}
      {%- for name in data.fields -%}
      {{ prop_table(name, data.val_start, data.val_min, data.val_max, data.nameable)|indent(6) }}
      {%- endfor %}
      <tr >
        <th style="font-style: italic; border-top: solid; border-width: 1px 0;">Cost</th>
      {% for name in ["base", "free", "xp"] %}
        <input name="attr_{{ type }}_{{ name }}" value="0" type="hidden" />
        <td style="border-top: solid; border-width: 1px 0;"><input name="attr_{{ type }}_{{ name }}_disp" title="{{ type|title }} {{ name }}"
        value="@{{'{'}}{{ type }}_{{ name }}{{'}'}}" type="number" disabled="true"/></td>
      {% endfor %}
        <td></td>
      </tr>
    </table>
  </div>
</div>
{%- endmacro -%}

<!DOCTYPE html>
<!-- V20.html is generated by v20.py, so don't EDIT it -->

<head>
  <title>{{ d.title }} {{ d.subtitle }}</title>
  <link rel="stylesheet" type="text/css" href="V20.css">
</head>

<body>

<div class="sheet-page">

  <!-- Title -->
  <div style="display: inline-block;">
    <h1>{{ d.title }}</h1>
    <h4>{{ d.subtitle }}</h4>
  </div>
  <br />

  <!-- Basics -->
  <div class="sheet-divrow" style="display: inline-block;">
    <h2 style="display: inline-block;">Basics</h2>
    <input title="hide" name="attr_basics_switch" style="width: 1em;display: inline-block;" type="checkbox" class="sheet-block-switch">
    <br />
    <div class="sheet-block-a">
      {%- for col in d.header %}
      <div class="sheet-divcol">
        <table>
          {%- for field in d.header[col].fields %}
          <tr>
            <th>{{ field|title }}</th>
            <td><input class="prop_val" title="{{ field }}" type="text" name="attr_{{ field }}"/></td>
          </tr>
          {%- endfor %}
        </table>
      </div>
      {%- endfor %}
    </div>
    <div class="sheet-block-b">
    </div>
  </div>

  <!-- Stats -->
  <div class="sheet-divrow">
    <h2 style="display: inline-block;">Stats</h2>
    <input title="hide" name="attr_stats_switch" style="width: 1em;display: inline-block;" type="checkbox" class="sheet-block-switch">
    <br />
    <div class="sheet-block-a">
      <div class="sheet-divcol" style="width: 10em">
        <h3>Character</h3>
        <table >
          <input name="attr_total_xp" value="0" type="hidden"/>
          <tr>
            <th>Xp</th>
            <td><input name="attr_total_xp_disp" value="@{total_xp}" title="xp spent" type="number" disabled="true"/></td>
            <td>/</td>
            <td><input name="attr_xp_avail" value="0" title="xp available" type="number"/></td>
          </tr>
          <input name="attr_total_free" value="0" type="hidden"/>
          <tr>
            <th>Free</th>
            <td><input name="attr_total_free_disp" value="@{total_free}}" title="free spent" type="number" disabled="true"/></td>
            <td>/</td>
            <td><input name="attr_free_avail" value="15" title="freebie points available" type="number" disabled="true"/></td>
          </tr>
        </table>
      </div>
      <div class="sheet-divcol" style="width: 10em">
        <h3>Pools</h3>
        <table >
          <tr>
            <th>Blood</th>
            <td><input name="attr_blood" value="0" title="blood" type="number"</td>
            <td>/</td>
            <td><input name="attr_blood_max" value="15" title="blood max" type="number" disabled="true"/></td>
          </tr>
          <tr>
            <th>Path</th>
            <td><input name="attr_path" value="0" title="path" type="number"</td>
            <td>/</td>
            <td><input name="attr_path_max" value="15" title="path max" type="number" disabled="true"/></td>
          </tr>
          <tr>
            <th>Will</th>
            <td><input name="attr_willpower" value="0" title="willpower" type="number"</td>
            <td>/</td>
            <td><input name="attr_willpower_max" value="15" title="willpower max" type="number" disabled="true"/></td>
          </tr>
        </table>
      </div>
      <div class="sheet-divcol" style="width: 10em">
        <h3>Health</h3>
        <table >
          {% for type in ["bash", "lethal", "aggravated"] %}
          <tr>
            <th>{{ type|title }}</th>
            <td><input name="attr_dmg_{{ type }}" value="0" title="{{ type }} damage" type="number"</td>
          </tr>
          {% endfor %}
          <tr>
            <th>Penalty</th>
            <td><input name="attr_wound_penalty" value="0" title="wound penalty for dice rolls" type="number" disabled="true"</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="sheet-block-b">
    </div>
  </div>

  <!-- Character Sheet Sections -->
  {%- for section in d.sections.fields %}
  <!-- Section {{ section|title }} -->
  <div class="sheet-divrow">
    <h2 style="display: inline-block;">{{ section|title }}</h2>
    {% for name in ["base", "free", "xp"] %}
    <input name="attr_{{ section }}_{{ name }}" value="0" type="hidden" />
    {% endfor %}
    <input title="hide" name="attr_{{ section }}_switch" style="width: 1em;display: inline-block;" type="checkbox" class="sheet-block-switch">
    <br />
    <div class="sheet-block-a">
      {%- set sect = d.sections.fields[section] %}
      {%- if sect.fields == "repeating" %}
      {%- else %}
        {% for type in sect.fields -%}
        {{ prop_multi_table(type, sect.fields[type])|indent(4) }}
        {%- endfor %}
      {%- endif %}
    </div>
    <div class="sheet-block-b">
    </div>
  </div>
  {% endfor %}

</div>

<script type="text/worker">
const data = JSON.parse('{{ d.json_txt }}');
{{ d.worker_js }}
</script>

</body>

<!-- vim: set et ft=html fenc=utf-8 ff=dos sts=0 sw=4 ts=4 : -->
